
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

@import "menu-bar.scss";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


body {
	background: $body-bg;
	font-size: 16px;
}

.container {
	width: 70%;
	max-width: 800px;
	margin: 0 auto;
}

.box {
	background-color: #FFF;
	border-radius: 2px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
	margin-top: 20px;
}